

-div {
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.main {
    display: inline-block;
    position: absolute;
    min-width: 1200px;
    min-height: 550px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.column1 {
    width: 10%;
    min-width: 120px;
    height: 95%;
    min-height: 500px;
    -outline: 1px solid red;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    box-shadow: 10px 5px 25px 5px #b1b5bc;

}

.column {
    width: 15%;
    min-width: 140px;
    min-height: 500px;
    height: 95%;
    -outline: 1px solid yellow;
    display: inline-block;
    position: absolute;
    top: 0px;
    background: linear-gradient(to right, #b1b5bc, #e8eaec 40%);
    box-shadow: 10px 5px 25px 5px #b1b5bc;
    overflow:auto;
}

.col2 {
    right: 75%;
}

.col3 {
    right: 60%;
}

.col4 {
    right: 45%;
}

.col5 {
    right: 30%;
}

.col5:hover {
    background-image: url("col-5.png")
}

.col6 {
    right: 15%;
}

.col7 {
    right: 0px;
}

.column:hover {
    background: linear-gradient(to bottom, #3f79cc, #daeffa, #3f79cc);
}

.content {
    text-align: center;
}

.top_line {
    height: 10px;
    margin-bottom: 50px;
}

.column:hover .top_line {
    height: 10px;
    background-color: #eaaa00;
}

.lang {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin-top: 20px;
}

#rus, #eng {
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.hs_link {
    display: flex;
    position: absolute;
    bottom: 0px;
    left: 20px;
    font-size: 12px;
    padding-bottom: 20px;
    color: #666666;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-size: 100%;
}

.ico {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 103px;
    width: 100px;
    background: transparent;
    background-image: url("imgs/ico-circ.png");
    background-size: 100%;
}

.column:hover .ico {
    background: transparent;
    background-image: url("imgs/ico-hov.png");
    background-size: 100%;
}

.ico_name {
    margin-top: 30px;
    color: #5e6738;
}

.column:hover .ico_name {
    color: #fff;
}

.col_bottom {
    display: inline-block;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50%;
}

.col_bottom1 {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    height: 50%;
}


-.column:hover .col_bottom {
    background-color: #6d695c;
    background-image:
            repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
            repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
            linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
            linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
    background-size: 70px 120px;
    opacity: 0.5;
}

.column:hover .col_bot5 {
    background-color: transparent;
    background-image: url("imgs/col-5.png");
    background-size: cover;
    opacity: 1;
    bottom: 0px;
}

.lang_ru {
    border-right: 1px solid grey;
    padding-right: 10px;
}

.lang_eng {
    padding-left: 10px;
}

-.ru:before {
    content: "hello_world";
}